@font-face {
    font-family: empire;
    src: url(../fuentes/Montserrat-VariableFont_wght.ttf);
}

/*font-family: 'Fjalla One', sans-serif;*/

/* SCSS HEX */
/* SCSS HEX */
$colorsubtitulo: #121212;
$colortexto: #000000;
$colorsubtitulo: #ffffff;
$background: #808080;
$color2: #77BFA3;
$color3: #ffc757;
$color-transparencia3:#ffffff77;
$color4: #223A5E;
$sombras: 2px 2px 4px rgba(0, 0, 0, 0.2);







* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $background ;
    font-family: empire;

    //index//

    header {

        background-image: url(../img/auto-rojo.jpg);
        background-size: cover;
        height: 600px;

        &.page-servicios {
            background-image: url(../img/contratacion.jpg);
        }

        &.page-empresas {
            background-image: url(../img/ciudad.jpg);
        }

        &.nuestra-mision {
            background-image: url(../img/sobre-nosotros.jpg);
        }

        &.page-contactos {
            background-image: url(../img/contacto.jpg);
        }

        h1 {
            color: $color4;
            font-size: 30px;
            text-shadow: $sombras;
        }

        h2 {
            color: $color2;
            font-size: 20px;
            text-shadow: 2px 2px 4px $sombras;
        }



        @media (max-width: 768px) {

            height: 335px;
            padding-bottom: 10px;

            section {
                display: flex;
                flex-direction: column;
                padding: 20px;


                h1 {
                    color: $color4;
                    font-size: 15px;
                    text-shadow: $sombras;

                }

                h2 {
                    color: $color2;
                    font-size: 10px;
                    text-shadow: $sombras;
                }
            }
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $background;
            color: $color4;
            padding: 10px;

            .logo {
                width: 100px;
                height: 100px;
                margin: 25px;
            }

            .menu-icono {
                display: none;
                cursor: pointer;
                padding: 10px;
                user-select: none;

                .bar {
                    display: block;
                    width: 25px;
                    height: 3px;
                    background-color: $color4;
                    margin-bottom: 5px;
                    transition: transform 1s ease-in-out;
                }


            }

            #menu-movile {
                display: none;
            }

            #menu-movile:checked~.menu {
                display: block;
            }

            .menu {
                display: flex;
                justify-content: center;
                align-items: center;

                li {
                    margin: 0 10px;
                    text-decoration: none;
                    display: flex;
                    align-items: center;

                    a {
                        color: $color4;
                        text-decoration: none;
                        font-size: 20px;
                        text-align: center;
                        padding: 10px;
                        transition: background-color 0.2s ease-in-out;
                        border-radius: 25px;
                    }

                    a:hover {
                        background-color: $color2;
                        color: $colorsubtitulo;
                        border-radius: 25px;
                        box-shadow: $sombras;
                    }
                }
            }

            @media (max-width: 768px) {

                .menu {
                    display: none;
                    flex-direction: column;
                    align-items: center;

                    
                        li{
                            a{
                                font-size: 15px;
                            }
                        }
                }

                .menu-icono {
                    display: inline;
                    cursor: pointer;
                }

                #menu-movile:checked+.menu-icono {
                    .bar {
                        &:nth-child(1) {
                            transform: rotate(-45deg) translate(-5px, 6px);
                        }

                        &:nth-child(2) {
                            opacity: 0;
                        }

                        &:nth-child(3) {
                            transform: rotate(45deg) translate(-5px, -6px);
                        }
                    }

                    ~.menu {
                        display: flex;
                    }
                }
            }
        }
    }

    //movile//

    .content-mision {


        .titulo {
            color: $color4;
            text-align: center;
            font-size: 60px;
            margin: 35px;
            margin-top: 150px;
        }

        .contenedor-mision {
            display: flex;
            justify-content: space-evenly;
            font-size: 30px;

            .img-mision {
                width: 60%;
                height: 400px;
                margin-right: 25px;
                margin-left: 25px;
                border-radius: 20px;
            }
        }

        .contenido-textos {
            margin-bottom: 15px;
            margin-right: 25px;

            h3 {
                color: $color2;
                font-size: 30px;
                margin-left: 10px;

                span {
                    background-color: $color4;
                    color: $colorsubtitulo;
                    border-radius: 40%;
                    display: inline-block;
                    text-align: center;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    padding: 4px;
                    margin-right: 10px;
                    margin-top: 20px;
                    margin-bottom: 10px;
                }
            }

            p {
                padding: 5px;
                font-weight: 300;
                text-align: justify;
                color: $colortexto;
            }
        }

        //responsive//

        @media screen and (max-width: 768px) {
            .titulo {
                font-size: 20px;
            }

            .contenedor-mision {
                flex-direction: column;
                align-items: center;

                .img-mision {
                    width: 500px;
                    height: 450px;
                    margin: 0;
                }
            }

            .contenido-textos {
                margin: 6px;
                text-align: center;

                h3 {
                    font-size: 20px;


                    span {
                        background-color: $color4;
                        color: $colorsubtitulo;
                        border-radius: 40%;
                        display: inline-block;
                        text-align: center;
                        padding: 6px;
                        box-shadow: 0 0 6px 0 $color4;

                    }
                }

                p {
                    font-size: 15px;
                    color: $colortexto;
                }
            }
        }
    }


    .titulo {
        color: $color4;
        text-align: center;
        font-size: 60px;
        margin: 35px;
        margin-top: 150px;
    }

    @media (max-width: 992px) {
            .titulo {
            color: $color4;
            text-align: center;
            font-size: 40px;
            margin: 35px;
            margin-top: 150px;
    }
}
    @media (max-width: 768px) {
            .titulo {
            color: $color4;
            text-align: center;
            font-size: 30px;
            margin: 35px;
            margin-top: 150px;
    }
}
    @media (max-width: 576px) {
            .titulo {
            color: $color4;
            text-align: center;
            font-size: 20px;
            margin: 35px;
            margin-top: 150px;
    }
}

    .galeria-serv {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .img-serv {
            width: 18%;
            margin-bottom: 10px;
            height: 350px;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.6);

            &:hover .hover-galeria {
                transform: scale(1);
                background-color: $color-transparencia3;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }

        .hover-galeria {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            transform: scale(0);
            transition: transform .5s;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            img {
                width: 150px;
                height: auto;

            }

            p {
                color: $color2;
                font-size: 25px;
                text-shadow: 2px 2px 4px $colortexto
            }
        }

        @media (max-width: 1200px) {
            
            .img-serv {
                width: 22%;
            }
        }
    
        @media (max-width: 992px) {
            .img-serv {
                width: 28%;
            }
        }
    
        @media (max-width: 768px) {
            .img-serv {
                width: 44%;
            }
        }
    
        @media (max-width: 576px) {
            .img-serv {
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }


    //cards-de-clientes//
    .contenedor-clientes {

        .titulo {
            color: $color4;
            text-align: center;
            font-size: 60px;
            padding: 25px;
        }

        .cards {
            display: flex;
            justify-content: space-evenly;
            padding: 55px;

            .card {
                display: flex;
                width: 46%;
                height: 350px;
                align-items: flex-start;
                justify-content: space-evenly;
                border-radius: 10px;

                img {
                    width: 180px;
                    height: 180px;
                    object-fit: cover;
                    border: 3px solid $color2;
                    border-radius: 50%;
                    display: block;
                }

                .contenido-texto-card {
                    width: 400px;


                    h4 {
                        font-size: 50px;
                        color: $color2;
                    }

                    p {
                        font-size: 25px;
                        padding-top: 5px;
                        color: $colortexto;
                    }
                }
            }
        }

        @media screen and (max-width:800px) {

            @media (max-width: 992px) {
                .titulo {
                color: $color4;
                text-align: center;
                font-size: 40px;
                margin: 35px;
                
        }
    }
        @media (max-width: 768px) {
                .titulo {
                color: $color4;
                text-align: center;
                font-size: 30px;
                margin: 35px;

        }
    }
        @media (max-width: 576px) {
                .titulo {
                color: $color4;
                text-align: center;
                font-size: 20px;
                margin: 35px;
        }
    }
            .cards {
                display: flex;
                justify-content: space-evenly;
                padding: 25px;
                align-items: flex-start;

                .card {
                    display: flex;
                    width: 200px;
                    height: 400px;
                    align-items: center;
                    justify-content: space-evenly;
                    border-radius: 10px;
                    padding: 4px;
                    flex-direction: column;

                    img {
                        width: 80px;
                        height: 80px;
                        object-fit: cover;
                        border: 2px solid $color2;
                        border-radius: 50%;
                        display: block;
                    }

                    .contenido-texto-card {
                        width: 100%;

                        h4 {
                            font-size: 30px;
                            color: $color2;
                            padding: 9px;
                            text-align: center;
                        }

                        p {
                            font-size: 15px;
                            padding-top: 5px;
                            color: $colortexto;
                            padding: 10px;
                            text-align: center;
                        }
                    }

                }
            }
        }
    }

    //footer//

    .pie-pagina {
        width: 100%;
        background-color: $background;


        .titulo {
            color: $color4;
            text-align: center;
            font-size: 60px;
            margin: 35px;
            padding: 25px;
        }


        .grupo-1 {
            width: 100%;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 50px;
            padding: 45px 0px;
            margin: 50px;

            .box h2 {
                color: $color2;
                margin-bottom: 25px;
                font-size: 35px;
            }

            p {
                color: $colortexto;
                font-size: 25px;
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                color: $colortexto;
                background-color: $background;
                text-align: center;
                font-size: 30px;
                padding: 15px;
            }

            a:hover {
                color: $colorsubtitulo;
                background-color: $background;
                text-shadow: $sombras;
                border-radius: 30px;
            }

            .red-social {

                a {
                    display: inline-flex;
                    text-decoration: none;
                    width: 80px;
                    height: 80px;
                    line-height: 45px;
                    color: $colortexto;
                    background-color: $background;
                    text-align: center;
                    transition: all 300ms ease;
                    font-size: 45px;
                    border-radius: 50%;
                    margin: 2px;
                }

                a:hover {
                    color: $colorsubtitulo;
                    background-color: $background;
                    text-shadow: $sombras ;
                }
            }

            .grupo-2 {
                background-color: $color2;
                padding: 15px 10px;
                text-align: center;
                color: $colorsubtitulo;
            }
        }

        .grupo-2 {
            background-color: $color4;
            padding: 15px 10px;
            text-align: center;
            color: $colorsubtitulo;
        }

        small {
            font-size: 15px;
        }
    }

    //responsive//

    @media screen and (max-width:800px) {

        .titulo {
            color: $color4;
            text-align: center;
            font-size: 20px;
            margin: 35px;
    }

        
        .pie-pagina .grupo-1 {
            width: 90%;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 30px;
            padding: 35px 0px;
        }
    }
}

//nuestros-servicios//


.nuestros-servicios {

    display: flex;
    justify-content: space-between;
    margin: auto;

    margin-bottom: 150px;


    .img-servicios {
        position: relative;
        width: 100%;
        height: 400px;
        margin: 20px;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &:hover .texto-servicios {
            opacity: 1;
            transform: translateY(0);
        }

    }

    .texto-servicios {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        background-color: $color-transparencia3;
        color: $colortexto;
        text-shadow: $sombras;
        font-size: 1.2rem;
        opacity: 0;
        transform: translateY(30%);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }
}

.clases-de-seguros {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 25px;
    margin-bottom: 200px;



    .seguro-1 {
        position: relative;
        height: 350px;



        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
        }

        .textos-galeria {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: $colortexto;
            color: $color2;
            padding: 20px;
            box-sizing: border-box;
            transform: translateY(100%);
            transition: transform 0.5s ease;

            .textos-galeria h2 {
                margin-top: 0;
            }
        }

        &:hover .textos-galeria {
            transform: translateY(0);
        }
    }
}

/*responsive para dispositivos moviles*/

@media screen and (max-width: 768px) {
    .img-servicios {
        height: 300px;
        margin: 10px;
    }

    .texto-servicios {
        font-size: 1rem;
    }

    .nuestros-servicios {
        flex-wrap: wrap;
        justify-content: center;
        padding-right: 0;
        margin: 10px;
    }

    .clases-de-seguros {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
    }

    .seguro-1 {
        height: 20px;
    }

    .textos-galeria {
        margin-bottom: 60px;

    }
}

//seguros empresas//



.contenedor-empresas {

    .titulo {
        color: $color4;
        text-align: center;
        font-size: 40px;
        margin: 35px;
        padding: 35px;
    }


    .seguro-empresas {
        display: flex;
        justify-content: flex-end;
        padding: 25px;


        .textos-empresa {
            color: $colortexto;
            margin-right: 25px;
            margin-left: 25px;
            font-size: 40px;
        }

        .video-empresas {
            margin-right: 25px;
        }
    }
}

.cont-tipos-de-seguros {

    .empresas-aseguradas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        padding: 25px;
        .tipos-de-empresas {
            position: relative;

            img {
                width: 100%;
                height: 400px;
            }

            .text-overlay {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: $color-transparencia3;
                color: $color4;
                text-shadow: $sombras;
                padding: 15px;
                opacity: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                transition: opacity 0.3s ease;
                width: 100%;
                height: auto;

                h3 {
                    font-size: 30px;
                }

                p {
                    font-size: 25px;
                    color: $colortexto;
                }
            }

            &:hover .text-overlay {
                opacity: 1;
            }
        }
    }
}

@media screen and (max-width: 768px) {

    .seguro-empresas {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .textos-empresa {
            margin-left: 15px;
            margin-right: 15px;
            font-size: 5px;
        }

        .video-empresas {
            margin: 25px;
            flex-basis: 100%;

            video {
                width: 100%;
                height: auto;
            }
        }
    }

    .cont-tipos-de-seguros {

        .empresas-aseguradas {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

            .tipos-de-empresas img {
                height: auto;
            }
        }
    }

    .video-empresas {
        margin: 15px;
    }

    .tipos-de-empresas img {
        height: auto;
    }
}

//nuestra mision//

.contenedor-objetivo {
    padding: 25px;

    h3 {
        color: $color4;
        text-align: center;
        font-size: 60px;
        padding-top: 35px;
    }

    .contenido-info {
        align-items: center;
        margin: 0;
        padding: 5px;

        .vid-objetivo {
            display: flex;
            align-items: center;
            justify-content: center;

            .video {
                video {
                    height: 600px;
                    width: 800px;
                }
            }

            .textos-obj {
                text-align: center;
                margin-left: 60px;

                h4 {
                    color: $color3;
                    font-size: 40px;
                }

                p {
                    color: $colortexto;
                    font-size: 30px;
                }
            }
        }

        .vid-objetivo-2 {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row-reverse;

            .video {
                video {
                    height: 600px;
                    width: 800px;
                }
            }

            .textos-obj {
                text-align: center;
                margin-right: 40px;

                h4 {
                    color: $color3;
                    font-size: 40px;
                }

                p {
                    color: $colortexto;
                    font-size: 30px;
                }
            }
        }
    }
}

//movile//



.cont-fortalezas {


    h3 {
        color: $color4;
        text-align: center;
        font-size: 60px;
        padding: 25px;
    }

    .contenido-fortalezas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        padding: 25px;

        .img-fortaleza {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
                max-width: 700px;
                height: auto;
            }
        }

        .textos-fortalezas,
        .textos-objetivos {
            display: flex;
            flex-direction: column;
            margin: 25px;

            h4 {
                font-size: 40px;
                color: $color3;
            }
        }

        ul {
            margin-top: 20px;
            list-style-type: circle;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
            font-size: 30px;
            color: $color2;
        }
    }
}

//movile//



.cont-slides {
    padding: 25px;

    h3 {
        color: $color4;
        text-align: center;
        font-size: 60px;
        padding: 90px;
    }

    .contenido-slides {
        display: flex;
        flex-direction: row;
        padding: 25px;

        .textos-obj {
            text-align: center;
            margin-right: 25px;

            h4 {
                font-size: 40px;
                color: $color3;
            }

            p {
                color: $color2;
                font-size: 30px;
                margin-top: 25px;
            }
        }

        .slides-container {
            display: flex;

            .slide {
                height: 100%;
                width: 100%;

                img {
                    height: 400px;
                    width: 750px;
                }
            }
        }
    }
}

//movile//

.contenido-form {
    form {
        width: 400px;
        margin: 0 auto;
        background-color: $color2;
        padding: 20px;
        border-radius: 5px;
        box-shadow: $colortexto;

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        input[type="text"],
        input[type="email"],
        input[type="tel"],
        textarea {
            width: 100%;
            padding: 8px;
            border-radius: 4px;
            border: 1px solid $color4;
            box-sizing: border-box;
            margin-bottom: 10px;
        }

        input[type="date"],
    select {
        width: 100%;
        padding: 8px;
        border-radius: 4px;
        border: 1px solid $colortexto;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    input[type="submit"] {
        background-color: $color3;
        color: $background;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }
    input[type="submit"]:hover {
        background-color: $color4;
    }
    }
}