@font-face {
    font-family: empire;
    src: url(../fuentes/Evil\ Empire.otf);
}

/*font-family: 'Fjalla One', sans-serif;*/

/* SCSS HEX */
/* SCSS HEX */
$colorsubtitulo:#121212 ;
$colortexto: #1c4b52;
$colorsubtitulo: #000000;
$background: #242424;
$color2:#24646e;
$color3:#2d7d8a;
$color-transparencia3: rgba(64, 188, 216, 0.364);
$color4: #3597a6;







* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $background ;
    font-family: empire;


    //header//
    header {

        background-image: url(../img/auto-rojo.jpg);
        background-size: cover;
        height: 600px;

        &.page-servicios {
            background-image: url(../img/contratacion.jpg);
        }

        &.page-empresas{
            background-image: url(../img/ciudad.jpg);
        }

        h1 {
            color: $color4;
            font-size: 50px;
            text-shadow: 2px 2px 4px $colorsubtitulo;
        }

        h2 {
            color: $color2;
            font-size: 30px;
            text-shadow: 2px 2px 4px $colorsubtitulo;
        }

        @media (max-width: 768px) {

            height: 335px;
            padding-bottom: 20px;

            header {
                background-image: url(../img/auto-rojo.jpg);
            }

            section {
                display: flex;
                flex-direction: column;


                h1 {
                    color: $color4;
                    font-size: 40px;
                    text-shadow: 2px 2px 4px $colorsubtitulo;
                    text-align: center;
                }

                h2 {
                    color: $color4;
                    font-size: 20px;
                    text-shadow: 2px 2px 4px $colorsubtitulo;
                    text-align: center;
                }
            }
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $background;
            color: $color4;
            padding: 10px;

            .logo {
                width: 100px;
                height: 100px;
                margin-left: 60px;
            }

            .menu-icono {
                display: none;
                cursor: pointer;
                padding: 10px;
                user-select: none;

                .bar {
                    display: block;
                    width: 25px;
                    height: 3px;
                    background-color: $color4;
                    margin-bottom: 5px;
                    transition: transform 1s ease-in-out;
                }


            }

            #menu-movile {
                display: none;
            }

            #menu-movile:checked~.menu {
                display: block;
            }

            .menu {
                display: flex;
                justify-content: center;
                align-items: center;

                li {
                    margin: 0 10px;
                    text-decoration: none;
                    display: flex;
                    align-items: center;

                    a {
                        color: $color4;
                        text-decoration: none;
                        font-size: 25px;
                        text-align: center;
                        padding: 10px;
                        transition: background-color 0.2s ease-in-out;
                        border-radius: 25px;
                    }

                    a:hover {
                        background-color: $color2;
                        color: $colorsubtitulo;
                        border-radius: 25px;
                        box-shadow: 0 0 5px $color4;
                    }
                }
            }

            @media (max-width: 768px) {

                .menu {
                    display: none;
                    flex-direction: column;
                    align-items: center;
                }

                .menu-icono {
                    display: inline;
                    cursor: pointer;

                    .menu {
                        display: none;
                        flex-direction: column;
                        align-items: center;
                    }
                }

                #menu-movile:checked+.menu-icono {
                    .bar {
                        &:nth-child(1) {
                            transform: rotate(-45deg) translate(-5px, 6px);
                        }

                        &:nth-child(2) {
                            opacity: 0;
                        }

                        &:nth-child(3) {
                            transform: rotate(45deg) translate(-5px, -6px);
                        }
                    }

                    ~.menu {
                        display: flex;
                    }
                }
            }
        }
    }

    //movile//

    .content-mision {

        @media screen and (max-width: 768px) {
            .titulo {
                font-size: 20px;
            }

            .contenedor-mision {
                flex-direction: column;
                align-items: center;

                .img-mision {
                    width: 80%;
                    margin: 0;
                }
            }

            .contenido-textos {
                margin: 15px 0;
                text-align: center;

                h3 {
                    font-size: 24px;
                    margin-top: 15px;

                    span {
                        background-color: $color4;
                        color: $colorsubtitulo;
                        border-radius: 50%;
                        display: inline-block;
                        text-align: c;
                        width: 50px;
                        height: 50px;
                        padding: 1%;
                        box-shadow: 0 0 6px 0 $color4;
                        margin-right: 5px;
                    }
                }

                p {
                    font-size: 16px;
                    padding: 0 15px;
                }
            }
        }

        .titulo {
            color: $color4;
            text-align: center;
            font-size: 60px;
            margin: 35px;
        }

        .contenedor-mision {
            display: flex;
            justify-content: space-evenly;
            font-size: 30px;

            .img-mision {
                width: 48%;
                margin-right: 25px;
                margin-left: 25px;
                border-radius: 20px;
            }
        }

        .contenido-textos {
            margin-bottom: 15px;
            margin-right: 25px;

            h3{
                color: $color3;
                font-size: 30px;
                margin-left: 10px;

            span {
                background-color: $color4;
                color: $colorsubtitulo;
                border-radius: 50%;
                display: inline-block;
                text-align: center;
                width: 60px;
                height: 60px;
                padding: 10px;
                box-shadow: 0 0 6px 0 $color4;
                margin-right: 5px;
                margin-top: 20px;
                margin-bottom: 10px;
            }
        }

            p {
                padding: 25px;
                font-weight: 300;
                text-align: justify;
                color: $color2;
            }
        }

        //responsive//

        @media screen and (max-width: 768px) {
            .titulo {
                font-size: 20px;
            }

            .contenedor-mision {
                flex-direction: column;
                align-items: center;

                .img-mision {
                    width: 80%;
                    margin: 0;
                }
            }

            .contenido-textos {
                margin: 15px 0;
                text-align: center;

                h3 {
                    font-size: 24px;
                    margin-top: 15px;

                    span {
                        background-color: $color4;
                        color: $colorsubtitulo;
                        border-radius: 50%;
                        display: inline-block;
                        text-align: center;
                        width: 40px;
                        height: 40px;
                        padding: 10px;
                        box-shadow: 0 0 6px 0 $color4;
                        margin-right: 15px;
                        margin-bottom: 10px;
                    }
                }

                p {
                    font-size: 16px;
                    padding: 0 15px;
                }
            }
        }
    }

    //servicios//

    .titulo {
        color: $color4;
        text-align: center;
        font-size: 60px;
        margin: 35px;
    }

    .galeria-serv {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .img-serv {
            width: 18%;
            margin-bottom: 10px;
            height: 350px;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.6) ;

            &:hover .hover-galeria {
                transform: scale(1);
                background-color: $color-transparencia3;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }

        .hover-galeria {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            transform: scale(0);
            transition: transform .5s;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            img {
                width: 150px;
                height: auto;

            }

            p {
                color: $colorsubtitulo;
                font-size: 35px;
                text-shadow: 2px 2px 4px $colortexto
            }   
        }

        //responsive//

        @media (max-width: 1200px) {
            .img-serv {
                width: 22%;
            }
        }

        @media (max-width: 992px) {
            .img-serv {
                width: 28%;
            }
        }

        @media (max-width: 768px) {
            .img-serv {
                width: 44%;
            }
        }

        @media (max-width: 576px) {
            .img-serv {
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }

    //cards-de-clientes//
    .contenedor-clientes {

        .titulo {
            color: $color4;
            text-align: center;
            font-size: 60px;
            padding: 25px;
        }

        .cards {
            display: flex;
            justify-content: space-evenly;
            padding: 55px;

            .card {
                background-color: $colorsubtitulo;
                display: flex;
                width: 46%;
                height: 350px;
                align-items: center;
                justify-content: space-evenly;
                border-radius: 10px;
                box-shadow: 0 0 6px rgba(255, 255, 255, 0.6);

                img {
                    width: 180px;
                    height: 180px;
                    object-fit: cover;
                    border: 3px solid rgba(255, 255, 255, 0.6);
                    border-radius: 50%;
                    display: block;
                }

                .contenido-texto-card {
                    width: 70%;

                    h4{
                        font-size: 50px;
                        color: $color4;
                    }

                    p {
                        font-size: 25px;
                        padding-top: 5px;
                        color: $colortexto;
                    }
                }
            }
        }

        @media screen and (max-width:800px) {
            .cards {
                display: flex;
                justify-content: space-evenly;
                padding: 25px;

                .card {
                    background-color:$colorsubtitulo;
                    display: flex;
                    width: 46%;
                    height: 200px;
                    align-items: center;
                    justify-content: space-evenly;
                    border-radius: 10px;
                    box-shadow: 0 0 6px rgb(255, 255, 255);
                    padding: 4px;

                    img {
                        width: 80px;
                        height: 80px;
                        object-fit: cover;
                        border: 2px solid rgb(255, 255, 255);
                        border-radius: 50%;
                        display: block;
                    }

                    .contenido-texto-card {
                        width: 100%;

                        h4{
                            font-size: 30px;
                            color: $color4;
                            padding: 9px;
                        }
    
                        p {
                            font-size: 15px;
                            padding-top: 5px;
                            color: $color2;
                            padding: 10px;
                        }
                    }

                }
            }
        }
    }

    //footer//

    .pie-pagina {
        width: 100%;
        background-color: $background;


        .titulo {
            color: $color4;
            text-align: center;
            font-size: 60px;
            margin: 35px;
            padding: 25px;
        }


        .grupo-1 {
            width: 100%;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 50px;
            padding: 45px 0px;
            margin: 50px;

            .box h2 {
                color: $color4;
                margin-bottom: 25px;
                font-size: 35px;
            }

            p {
                color: $colortexto;
                font-size: 25px;
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                color: $colorsubtitulo;
                background-color: $background;
                text-align: center;
                font-size: 30px;
                padding: 15px;
            }

            a:hover {
                color: $color4;
                background-color: $background;
                text-shadow: 0 0 10px $colorsubtitulo;
                border-radius: 30px;
            }

            .red-social {

                a {
                    display: inline-flex;
                    text-decoration: none;
                    width: 80px;
                    height: 80px;
                    line-height: 45px;
                    color: $colorsubtitulo;
                    background-color: $color3;
                    text-align: center;
                    transition: all 300ms ease;
                    font-size: 45px;
                    border-radius: 50%;
                    margin: 2px;
                }

                a:hover {
                    color: $color4;
                    background-color: $background;
                    text-shadow: 0 0 10px $colorsubtitulo ;
                }
            }

            .grupo-2 {
                background-color: $color2;
                padding: 15px 10px;
                text-align: center;
                color: $colorsubtitulo;
            }
        }

        .grupo-2 {
            background-color: $color4;
            padding: 15px 10px;
            text-align: center;
            color: $colorsubtitulo;
        }

        small {
            font-size: 15px;
        }
    }

    //responsive//

    @media screen and (max-width:800px) {
        .pie-pagina .grupo-1 {
            width: 90%;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 30px;
            padding: 35px 0px;
        }
    }
}

//nuestros-servicios//


.nuestros-servicios {
    
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-right: 40px;
    margin: 20px;

    .img-servicios {
        position: relative;
        width: 100%;
        height: 400px;
        margin: 20px;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &:hover .texto-servicios{
            opacity: 1;
            transform: translateY(0);
        }
    
    }

    .texto-servicios {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        background-color: $color-transparencia3;
        color: $colorsubtitulo;
        font-size: 1.2rem;
        opacity: 0;
        transform: translateY(30%);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }
}

.clases-de-seguros {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 25px;
    margin-bottom: 100px;



    .seguro-1 {
        position: relative;
        height: 350px;
        


        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
            }

            .textos-galeria {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                background-color: $colorsubtitulo;
                color: $color3;
                padding: 20px;
                box-sizing: border-box;
                transform: translateY(100%);
                transition: transform 0.5s ease;

                    .textos-galeria h2 {
                        margin-top: 0;
                        }
                }
                &:hover .textos-galeria{
                    transform: translateY(0);
                    }
        }
    }

    /*responsive para dispositivos moviles*/

@media screen and (max-width: 768px) {
    .img-servicios {
    height: 300px;
    margin: 10px;
    }
    
    .texto-servicios {
    font-size: 1rem;
    }
    
    .nuestros-servicios {
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 0;
    margin: 10px;
    }
    
    .clases-de-seguros {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
    }
    
    .seguro-1 {
    height: 20px;
    }
    
    .textos-galeria {
        margin-bottom: 60px;

    }
    }

    //seguros empresas//



    .contenedor-empresas{
        
        .titulo {
            color: $color4;
            text-align: center;
            font-size: 40px;
            margin: 35px;
            padding: 35px;
        }
        

        .seguro-empresas {
            display: flex;
            justify-content: flex-end;
            padding: 25px;

    
            .textos-empresa {
                color: $colortexto;
                margin-right: 25px;
                margin-left: 25px;
                font-size: 40px;
                }
    
                .video-empresas {
                    margin-right: 25px;
                    }
            }
            }

            .cont-tipos-de-seguros{
                
                .empresas-aseguradas {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-gap: 30px;
                    margin-bottom: 25px;
                    margin-left: 10px;
                    margin-right: 10px;

                    .tipos-de-empresas {
                        position: relative;

                        img {
                            width: 100%;
                            height: 400px;
                            }

                            .text-overlay {
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                background-color: $color-transparencia3;
                                color: $colorsubtitulo;
                                padding: 15px;
                                opacity: 0;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                text-align: center;
                                transition: opacity 0.3s ease;
                                width: 100%;
                                height: auto;
                                
                                h3{
                                    font-size: 45px;
                                    }
                            
                                    p{
                                        font-size: 25px;
                                        color: $colorsubtitulo;
                                        }
                            }

                            &:hover .text-overlay {
                                opacity: 1;
                                }
                        }
                    }
            }

            @media screen and (max-width: 768px) {

                .seguro-empresas {
                display: flex;
                flex-wrap: wrap;
                justify-content: center; 
                align-items: center; 

                .textos-empresa {
                    margin-left: 15px;
                    margin-right: 15px;
                    font-size: 5px;
                    }

                .video-empresas {
                    margin: 25px; 
                    flex-basis: 100%; 

                    video {
                        width: 100%; 
                        height: auto; 
                        }
                    }
                }
                .cont-tipos-de-seguros{

                    .empresas-aseguradas {
                        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                        
                        .tipos-de-empresas img {
                            height: auto;
                            }
                    }
                }
                
                .video-empresas {
                margin: 15px;
                }
                
                .tipos-de-empresas img {
                height: auto;
                }
                }

                //nuestra mision//
