@font-face {
    font-family: empire;
    src: url(/fuentes/Evil\ Empire.otf);
} 

/*font-family: 'Fjalla One', sans-serif;*/

/*--snow: #fbf5f3ff;
--fulvous: #e28413ff;
--oxford-blue: #000022ff;
--rusty-red: #de3c4bff;
--cardinal: #c42847ff;
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:  #de3c4bff;
    font-family: empire;
}

header {
    position: relative;
}

header nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 15px;
    background-color: #e28413ff;
    text-align: center;
    z-index: 1;
}

header nav a {
    color: black;
    text-decoration: none;
    font-size: 25px;
    margin: 0 15px;
    text-align: center;
}

header nav a:hover {
    background-color: #de3c4bff;
    color: black;
    border-radius: 25px;
    transition: .1s ease-in-out;
    border-style: solid;
    padding: 5px 10px;
}

  /* responsive movile */

@media screen and (max-width: 767px) {
    header nav {
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    position: static;
    padding: 0;
    }

    header nav a {
    display: block;
    margin: 10px 0;
    font-size: 20px;
    }
}


.titulo-header {
    background-image: url(/img/paisaje.jpg);
    height: 600px;
    width: auto;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
}



/*nuestra mision*/

.titulo{
    color: #000022ff ;
    text-align: center;
    font-size: 30px;
    margin: 35px;
}

.contenedor-mision{
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
}

.img-mision{
    width: 48%;
    margin-right: 25px;
    margin-left: 25px;
    border-radius: 20px;
}

.contenido-textos{
    margin-bottom: 15px;
    margin-right: 25px;
}

.contenido-textos h3 span{
    background-color: #e28413ff;
    color: antiquewhite;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 50px;
    height: 50px;
    padding: 1%;
    box-shadow: 0 0 6xp 0 #269a96;
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify ;
}

@media screen and (max-width: 768px) {
    .titulo {
    font-size: 20px;
    }
    
    .contenedor-mision {
    flex-direction: column;
    align-items: center;
    }
    
    .img-mision {
    width: 80%;
    margin: 0;
    }
    
    .contenido-textos {
    margin: 15px 0;
    text-align: center;
    }
    
    .contenido-textos h3 {
    font-size: 24px;
    margin-top: 15px;
    }
    
    .contenido-textos p {
    font-size: 16px;
    padding: 0 15px;
    }
}

/*nustro servicio*/

.galeria-serv{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-serv{
    width: 18%;
    margin-bottom: 10px;
    height: 350px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgb(0, 0, 0, 1.5);
}

.img-serv img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: rgba(0, 0, 34, 0.496);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 150px;
    height: auto;
}

.hover-galeria p{
    color: #e28413ff;
}

.img-serv:hover .hover-galeria{
    transform: scale(1);
}

@media (max-width: 1200px) {
    .img-serv {
    width: 22%;
    }
}

@media (max-width: 992px) {
    .img-serv {
    width: 28%;
    }
}

 @media (max-width: 768px) {
    .img-serv {
    width: 44%;
    }
}

@media (max-width: 576px) {
    .img-serv {
    width: 100%;
    margin-bottom: 20px;
    }
}

/*testimonios*/

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background-color: rgb(0, 255, 183);
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid rgb(217, 58, 14);
    border-radius: 50%;
    display: block;
}

.cards .card .contenido-texto-card {
    width: 60%;
    color: rgb(9, 120, 216);
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}

@media screen and (max-width:800px) {
    .cards{
        display: flex;
        justify-content: space-evenly;
    }
    
    .cards .card{
        background-color: rgb(0, 255, 183);
        display: flex;
        width: 46%;
        height: 200px;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 10px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    }
    
    .cards .card img{
        width: 60px;
        height: 60px;
        object-fit: cover;
        border: 2px solid rgb(217, 58, 14);
        border-radius: 50%;
        display: block;
    }
    
    .cards .card .contenido-texto-card {
        width: 100%;
        color: rgb(9, 120, 216);
    }
    
    .cards .card > .contenido-texto-card p{
        font-weight: 1px;
        padding-top: 5px;
    }
}


/*footer*/

.pie-pagina{
    width: 100%;
    background-color: #e28413ff;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box h2{
    color: aliceblue;
    margin-bottom: 25px;
    font-size: 25px;
}

.pie-pagina .grupo-1 .box p{
    color: #c42847ff;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: aliceblue;
    margin-right: 10px;
    background-color: #000022ff;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: #e28413ff;
}

.pie-pagina .grupo-2{
    background-color: #de3c4bff;
    padding: 15px 10px;
    text-align: center;
    color: snow;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}

.box {
    display: flex;
    flex-direction: column;
  }
  
  .box a {
    margin-bottom: 10px;
  }

@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}

/*nuestros servicios*/

.img-servicios {
    position: relative;
    width: 100%;
    height: 400px;
    margin: 20px;
}

.img-servicios img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto-servicios {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 1.2rem;
    opacity: 0;
    transform: translateY(30%);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.img-servicios:hover .texto-servicios {
    opacity: 1;
    transform: translateY(0);
}

.nuestros-servicios {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-right: 40px;
    margin: 20px;
}

.clases-de-seguros {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.seguro-1 {
    position: relative;
    height: 350px;
}

.seguro-1 img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.textos-galeria {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.seguro-1:hover .textos-galeria {
    transform: translateY(0);
}

.textos-galeria h2 {
    margin-top: 0;
}

.clases-de-seguros {
    margin-bottom: 250px; 
}


/*responsive para dispositivos moviles*/

@media screen and (max-width: 768px) {
    .img-servicios {
    height: 300px;
    margin: 10px;
    }
    
    .texto-servicios {
    font-size: 1rem;
    }
    
    .nuestros-servicios {
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 0;
    margin: 10px;
    }
    
    .clases-de-seguros {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    }
    
    .seguro-1 {
    height: 250px;
    }
    
    .textos-galeria {
    padding: 10px;
    }
}

  /* responsive para moviles pequeños */

@media screen and (max-width: 576px) {
    .img-servicios {
    height: 200px;
    margin: 5px;
    }
    
    .texto-servicios {
    font-size: 0.8rem;
    }
    
    .nuestros-servicios {
    margin: 5px;
    }
    
    .clases-de-seguros {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    }
    
    .seguro-1 {
    height: 200px;
    }
    
    .textos-galeria {
    padding: 5px;
    }
}

/*empresas*/

.seguro-empresas {
    display: flex;
    justify-content: flex-end;
  }
  
  .textos-empresa {
    margin-right: 25px;
    margin-left: 25px;
    font-size: 30px;
  }
  
  .video-empresas {
    margin-right: 25px;
  }

.empresas-aseguradas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .tipos-de-empresas {
    position: relative;
  }
  
  .tipos-de-empresas img {
    width: 100%;
    height: 400px;
  }
  
  .text-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 15px;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: opacity 0.3s ease;
    width: 100%;
    height: auto;
  }
  
  .tipos-de-empresas:hover .text-overlay {
    opacity: 1;
  }

  .text-overlay h3{
    font-size: 45px;
  }

  .text-overlay p{
    font-size: 25px;
  }

  @media screen and (max-width: 768px) {

    .seguro-empresas {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Centra horizontalmente los elementos */
        align-items: center; /* Centra verticalmente los elementos */
      }
      
      .video-empresas {
        margin: 25px; /* Ajusta los márgenes según tus necesidades */
        flex-basis: 100%; /* Asegura que el video ocupe todo el ancho disponible */
      }
      
      .video-empresas video {
        width: 100%; /* Asegura que el video ocupe todo el ancho disponible */
        height: auto; /* Permite que el alto del video se ajuste proporcionalmente */
      }
    .empresas-aseguradas {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    
    .textos-empresa {
      margin-left: 15px;
      margin-right: 15px;
      font-size: 25px;
    }
    
    .video-empresas {
      margin: 15px;
    }
  
    .tipos-de-empresas img {
      height: auto;
    }
  }
